
body {
    background-image: radial-gradient(
        circle farthest-corner at 10% 20%,
        rgb(124, 161, 162) 0%,
        rgba(255, 211, 165, 1) 90%
      );
}
.item {
    padding-left: 10px;
    width: 200px;
    margin-bottom: 20px;
}

.item img {
    width: 100%;
    height: auto;
}

.item .price {
    font-weight: bold;
}
.checkout-button {
    background-color: rgb(40, 41, 37);
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.checkout-button:hover {
    background-color: rgb(41, 11, 190);
    color: white;
    padding: 10px;
    border-radius: 5px;
}